@charset "utf-8";
/* CSS Document */

/* RESET CSS */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	}
	
body {
	line-height:1;
	font-family:Calibri, Arial;
	font-weight: normal;
	color:#111;
	}

html,body {
	margin:0;
	padding:0;
	height:100%;
	}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block;
	}
	
nav ul{
	list-style:none;
	}
	
blockquote,q{
	quotes:none;
	}
	
blockquote:before,blockquote:after,q:before,q:after{
	content:none;
	}
	
a{
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration:none;
	}
	
ins{
	background-color:#ff9;
	color:#000;
	text-decoration:none;
	}
	
mark{
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
	}
	
del{
	text-decoration:line-through;
	}
	
abbr[title],dfn[title]{
	border-bottom:1px dotted;
	cursor:help;

	}
	
table{
	border-collapse:collapse;
	border-spacing:0;
	}
	
hr{
	display:block;
	height:1px;
	border:0;
	border-top:
	1px solid #ccc;
	margin:1em 0;
	padding:0;
	}
	
input,select{
	vertical-align:middle;
	}
	
p{
	line-height:130%; 
	margin:8px 0 8px 0;
	}
	
img {
	width:97.5%;
	}
	
input {
	outline:none;
	}
	
td{
	vertical-align:top;
	}
	


/* COLORS */
.color-green {
	color:#456c1b;
	}
	
.color-blue {
	color:#232d6c;
	}
.color-purple {
	color:#77277c;
	}
	
.color-red {
	color:#9f0f1a;
	}
	
.color-orange {
	color:#f26329;
	}
	
.color-grey {
	color:#999;
	}


.border10 {
	border-left:10px solid #f1f1f1;
	border-top:10px solid #f1f1f1;
	border-right:10px solid #e6e6e6;
	border-bottom:10px solid #e6e6e6;
	}
	
.border5 {
	border:5px solid #e6e6e6;
	}

.float-left	{
	float:left;
	}
	
.float-right{
	float:right;
	}
	
.center-text {
	text-align:center;
	}

.clearclass {
	clear:both!important;
	}


h1, h2, h3, h4, h5, h6{
	line-height:150%;
	font-weight:normal;
	margin-bottom:10px;
	}
	
h1 {
	font-size:29px;
	}
	
h2 {
	font-size:26px;
	}
	
h3 {font-size:23px;
clear:both!important;
padding-top:15px;
margin-bottom:0px!important;

	}
	
h4 {
	font-size:20px;
	clear:both!important;
padding-top:15px;
margin-bottom:0px!important;
	}
	
h5 {
	font-size:17px;
		clear:both!important;
padding-top:15px;
margin-bottom:0px!important;
	}

.div100 {
	width:98.6%;
	display:block;
	float:left;
	}
	
.width10 {
	width:10%;
	display:block;
	float:left;
	}
.width20 {
	width:20%;
	display:block;
	float:left;
	}
	
.width30 {
	width:30%;
	display:block;
	float:left;
	}
	
.width40 {
	width:40%;
	display:block;
	float:left;
	}
	
.width50 {
	width:50%;
	display:block;
	float:left;
	}
	
.width60 {
	width:60%;
	display:block;
	float:left;
	}
	
.width70 {
	width:70%;
	display:block;
	float:left;
	}
	
.width80 {
	width:80%;
	display:block;
	float:left;
	}
	
.width90 {
	width:90%;
	display:block;
	float:left;
	}

.margin-r-10{
	margin-right:10px;
	}
	
.margin-l-10{
	margin-left:10px;
	}


/* Main button class */

.ph-button {
	min-width:100px;
	border-style: solid;
	border-width: 0px 0px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	color: #FFFFFF;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 300ms ease-in-out 0s;
	white-space: nowrap;
	font-weight: normal;
	padding: 16px 50px 15px;
	font-size: 20px;
	}

.ph-button-sml {
	min-width:70px;
	border-style: solid;
	border-width: 0px 0px 3px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
	color: #FFFFFF;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-style: normal;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	transition: all 300ms ease-in-out 0s;
	white-space: nowrap;
	font-weight: normal;
	padding: 8px 25px 7px;
	font-size: 14px;
	}

/*Green*/

.ph-btn-green {
	border-color: #50a735;
	background-color: #64d142;
	color:#142a0d;
	}
	
.ph-btn-green:hover, .ph-btn-green:focus {
	background-color: #50a735;
	border-color: #2c5b1d;
	color:#fff;
	}
	
.ph-btn-green:active {
	background-color: #2c5b1d;
	border-color: #142a0d;
	color:#fff;
	}

/*Blue*/

.ph-btn-blue {
	border-color: #fff;
	background-color: #0b4c8e;
	padding:10px 25px!important;
	}
	
.ph-btn-blue:hover, .ph-btn-blue:focus {
	background-color: #1992e5;
	border-color: #fff;
	}
	
.ph-btn-blue:active {
	background-color: #003a4f;
	border-color: #001a23;
	color:#fff;
	}

/*Grey*/

.ph-btn-grey {
	background-color: #C6CCD2;
	border-color: #AAB3BB;
	color:#000;
	}
	
.ph-btn-grey:hover, .ph-btn-grey:focus{
	background-color: #B8BFC7;
	border-color: #666666;
	}
	
.ph-btn-grey:active {
	background-color: #666666;
	border-color: #212121;
	color:#fff;
	}

/*Red*/
.ph-btn-red {
	background-color: #ED5A5A !important;
	border-color: #EA4343 !important;
	}
	
.ph-btn-red:hover, .ph-btn-red:focus {
	background: none repeat scroll 0 0 #EB4848 !important;
	border-color: #833232 !important;
	}
	
.ph-btn-red:active {
	background: none repeat scroll 0 0 #833232 !important;
	border-color: #3d1717 !important;
	color:#fff;
	}


/*Mustard*/
.ph-btn-mustard {
	background-color: #ff8a2b !important;
	border-color: #d57424 !important;
	padding:10px 25px!important;
	}
	
.ph-btn-mustard:hover, .ph-btn-red:focus {
	background: none repeat scroll 0 0 #a0571b !important;
	border-color: #4e2a0d !important;
	}
	
.ph-btn-mustard:active {
	background: none repeat scroll 0 0 #4e2a0d !important;
	border-color: #201105 !important; color:#fff;
	}



/*inactive*/
.ph-btn-inactive {
	background-color: #bbb !important;
	border-color: #bbb !important;
	color: #FFF;
	cursor:default;
	}


/* 1. Widescreen State -----------------------------------------------*/

/* no media query since this is the default size */

.wrapper {
	min-height:100%;	
	position:relative;
	}
	
.contents {
	padding-bottom:70px;
	}
	
.topbar {
	/*background-color:#ededed;*/
	background-color:#eeeeee;
	height:90px;
	border-bottom:1px solid #fff;
	}
	
.logoarea {
	width:1003px;
	margin:0px auto;

	font-size:35px;
	color:#999;
	}
	
.logoarea a {
	line-height:90px;
	width:250px;
	display:block;
	float:left;
	text-indent:-9999px;
	background:url(../images/logo.png) center center no-repeat;
	}
	
.logoarea span {
	float:right;
	line-height:90px;
	font-size:31px;
	}
	
.bottom-border {
	background-color:#f7941e;
	height:3px;
	}

.body-area {
	padding:25px 0px 0px;
	width:1003px;
	margin:0px auto;
	}
	
.termsdiv {
	margin:0px auto;
/*	border:1px solid #eee;
	*/
	overflow:scroll;
	max-height:450px;
	
	background-color:#f6f6f6;
	padding:35px;
	text-align:justify;
	overflow-x: hidden;
	}

.org-reg-wrap {
/*	width:720px;*/
	padding:10px 0px;
	margin:10px auto;

	}
	
.org-reg-wra-block {
	padding:15px 55px 45px;
	margin:10px 0 20px 0;
	background-color:#F9F9F9;
	/*border:1px solid #DFDFDF;*/
	display:block;
	}
	
.org-reg-wra-block p {
	clear:right;
	display:block;
	padding:0px;
	}
	
.org-reg-wra-block label {
	line-height:27px;

	display:block;
	}
	
.org-reg-wra-block span {
	width:100%;
	float:left;
	font-size:16px;
	color:#666;
	}
	
.org-reg-wra-block-small {
	font-size:11px;
	color:#666;
	}
	
.org-reg-wra-block span input[type=date] {
	padding:6px 5px;
	border:1px solid #CCC;
	margin-right:10px;
	font-family:Calibri, Arial!important;
	}
.org-reg-wra-block span textarea {
	padding:6px 5px;
	border:1px solid #Ccc;
	margin-right:10px;
	font-family:Calibri, Arial!important;
	outline:none;
	}

.org-reg-wra-block span select {
	padding:7px 5px;
	border:1px solid #CCC;
	margin-right:10px;
	}

.org-reg-wra-block span input {
	padding:8px 5px;
	border:1px solid #CCC;
	margin-right:10px;
	}
	
.org-reg-wrap h3 span {
	color:#333;
	font-size:12px;
	}


.tfoc-login-wrapper {
	padding-top:20px;
	width: 430px;
	margin:0px auto;
	}
	
.loginbox {
	padding:30px 10px 25px 20px;
	margin:25px 0 20px 0; 
	background-color:#F9F9F9; 
	border:1px solid #DFDFDF; 
	display:block; 
	border-radius:4px;
	}
	
.loginicon {
	width:100px;
	height:100px; 
	display:block; 
	margin:0px auto; 
	background:url(../images/loginicon.png) left top no-repeat; 
	background-size:100%; 
	margin-bottom:5px;
	}
	
.keyicon {
	width:100px;
	height:100px; 
	display:block; 
	margin:0px auto; 
	background:url(../images/key.png) left top no-repeat; 
	background-size:100%; 
	margin-bottom:5px;
	}
	
.loginbox td {
	padding:12px 10px;
	}
	
.loginbox input {
	  padding: 8px 5px;
  border: 1px solid #CCC;
	}

.company-name, .today-date {
	line-height:70px;
	font-size:25px;
	} 

.today-date {
	color:#999;
	float:right;
	} 

.navx {
	width:1003px; 
	margin:0px auto;
	}
	
.navigationx {
	clear:both;
	}
	
.navigationx a {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	background: url(../images/nav-sep.png) top right no-repeat #F5F5F5;
	padding:15px 0px 20px;
	transition:all 0.5s ease;
	color:#222;
	font-size:16px;
	}
	
.navigationx a:last-child {
	background-image:none;
	}

.navigationx a span {
	display:block;
	text-align: center;
	line-height:48px;
	font-size:25px;
	}
	
.navigationx a:hover, .navigationx a:active {
	background-color:#ae151a;
	color:#ff991f;
	}

.navigationx a.selected {
	background-color:#0b4c8e;
	color:#fff;
	}

.login-info {
	border-top:1px solid #fff;
	background-color: #e4e4e4;
	clear:both; 
	padding:10px 10px; 
	color:#000; 
	font-size:17px;
	}

.viewall {
	display:inline-block;
	float:left; 
	width:40%;
	z-index:999; 
	position:absolute;
	}
	
.viewall td {
	padding-right:10px;
	}
	
.dashboard-detils {
	float:right;
	display:inline-block;
	width:60%;
	}
	
.dashboard-detils ul {
	display:block; 
	float:right;
	}
	
.dashboard-detils ul li {
	text-align:right; 
	list-style:none; 
	float:left; 
	display:block; 
	line-height:32px; 
	border-right:1px solid #C60; 
	padding-left:15px;
	padding-right:15px; 
	color:#555; 
	font-size:17px;
	}

.dashboard-detils ul li strong {
	padding-left:10px;
	}

.dashboard-detils ul li:last-child {
	border-right:none;
	}

.popup .popup-body {
	min-height: 450px; 
	width: 650px; 
	margin-left: -370px;
	}

.popup-userinfo {
	display:inline-block; 
	float:left; 
	}
	
.inductee-details tr { 
	border-bottom:1px solid #ccc;
	}
	
.inductee-details td {
	padding: 10px 15px;
	color:#333;
	font-size:15px;
	}

.popup-ind-gallery {
	float:right; 
	display:block;
	}
	
.popup-ind-gallery table { 
	width:100%;
	}
	
.popup-ind-gallery td {
	padding:10px 10px 0 0;
	}
	
.popup-ind-gallery td img {
	border:1px solid #ccc; 
	width:100px; 
	height:100px;
	}
	
.t-inductees {  
	color:#000; 
	font-size:13px;
	}

.notified:after {
	color:#0C3; 
	content:'\2714'; 
	text-align:center;
	}

.induction-cam {
	width:800px; 
	margin:0px auto; 
	background-color:#f5f5f5; 
	border:1px solid #ccc; 
	padding:25px; 
	margin-bottom:25px;
	}
	
table.take-picture{
	}
	
table.take-picture td {
	text-align:center;
	padding:20px 0px;
	}
	
table.take-picture td:first-child {
	background-color:#039; 
	width:40%; 
	background:url(../images/cam.png) top center no-repeat; padding-top:40px;
	}
	
table.take-picture td:last-child {
	background-color:#c00; 
	width:40%;
	background:url(../images/user.png) top center no-repeat;
	padding-top:40px;
	}
	
.photo {
	width:100%; 
	background:#fff; 
	border:#ccc 1px solid; 
	display:block; 
	height:250px;
	}
	
.buttondiv {
	vertical-align:middle; 
	font-size:14px; 
	padding:0 10px!important;
	}
	
a.takephoto {
	height:80px; 
	width:80px; 
	background:url(../images/takephoto.png) left top no-repeat; 
	text-indent:-9999px; 
	display:block; 
	margin: 0px auto; 
	margin-bottom:10px;
	}
	
a.takephoto:active {
	height:80px; 
	width:80px; 
	background:url(../images/takephoto2.png) left top no-repeat;
	}

.progress { 
	display:block;  
	width:100%;
	}
	
.bar:before {
	/*content:'...'; */
	padding-left:15px; 
	font-size:20px;
	}
	
.bar {
	background-image:linear-gradient(to right, #3aab47, #1c5322 ); 
	margin-top:0px; 
	height:	10px; 
	line-height:10px; 
	color:#fff;
	}

.slider-controls {
	display:block; 
/*	background-color: #eee; */
	padding:30px 0px; 
	width:100% 
	}
	
.slider-controls a {
	height:40px; 
	width:40px; 
	display:inline-block;   
	transition:all 0.25s; 
	margin-left:10px;
	
	}
	
.slider-controls a:active {
	opacity:.5;
	}
	
/*.prev {
	background:url(../images/prev.png) left top no-repeat #
	float:left;
	}
	.prev:before{
		content:"Previous";
		}
		.next{
	background:url(../images/next.png) left top no-repeat;
	float:right;
	}
	*/
	.prev{ padding:0px 50px 0px 25px; float:left; background-color:#CCC; line-height:35px; text-align:center; display:inline-block; border-radius:5px; border-top:#666 2px solid; cursor:pointer;}
	
.next{ padding:0px 50px 0px 25px; float:right; background-color:#CCC; line-height:35px; text-align:center; display:inline-block; border-radius:5px; border-top:#666 2px solid; cursor:pointer;}	

	
.abort{
	background:url(../images/abort.png) left top no-repeat;
	}
	
.sound {
	background:url(../images/nosound.png) left top no-repeat;
	}
	
.nosound {
	background:url(../images/sound.png) left top no-repeat;
	}
	
.gotit{
	display:block; 
	float:right;
	background:url(../images/gotit.png) left top no-repeat;
	margin-right:10px;
	}

.completed-icon {
	width:128px!important; 
	height:128px!important;
	display:block; 
	margin:20px auto;
	float:none!important;
	background:url(../images/tick.png) left top no-repeat;
	}

table.qna { 
	width:100%; 
	border-collapse:collapse;
	}
	
table.qna tr {
	border-bottom:5px solid #fff;
	background: #fff7da;
	}
	
table.qna tr:nth-child(even) {
	background: #e8fdff;
	}

table.qna td {
	padding:5px 0 5px 10px; 
	vertical-align: middle; 
	font-size:20px; 
	line-height:130%;
	}
	
table.qna td:last-child {
	width text-align:right; 
	width:160px; 
	border-left:5px solid #fff;
	}

.yes {
	height:68px; 
	width:68px; 
	display:inline-block; 
	float:none; 
	background-color:#fff; 
	color:#000; 
	transition:all 0.08s ease-out; 
	line-height:30px; 
	text-align:center; 
	margin-right:10px; 
	border:none; 
	font-size:18px; 
	border:1px solid #aaa;
	}

.yes:active,.yes-selected { 
	background-color:#1D631F; 
	color:#fff;
	border:1px solid #1D631F;
	}

.no {
	height:68px; 
	width:68px; 
	display:inline-block;
	float:none; 
	background-color:#fff; 
	color:#000; 
	transition:all 0.08s ease-out; 
	line-height:30px; 
	text-align:center;
	border:none; 
	font-size:18px; 
	border:1px solid #aaa;
	}

.no:active,.no-selected {
	background-color:#c00; 
	color:#fff;
	border:1px solid #c00;
	}

.reception-security-top {
	padding-top:15px;
	}
	
.reception-security-top span {
	display:inline-block; 
	float:left;
	padding-right:15px;
	}
	
.reception-security-top span em {
	font-size:28px; 
	font-style:normal; 
	line-height:30px; 
	font-weight:bold;
	}
	
.reception-security-top input[type="text"] {
	font-size:24px; 
	padding:12px 10px 13px; 
	width:200px;
	}
	
.ptoday {
	display: inline-block; 
	float: right!important; 
	font-size:26px;
	line-height:50px;
	}
	
.security {
	padding:25px; 
	background-color:#f9f9f9; 
	border:1px solid #ddd; 
	display:block; 
	margin-top:30px; 
	min-height:400px;
	}

.prof {
	width:50%;
	float:left;
	}

#slider1 img {
	height:400px; 
	width:100%;
	}
	
#thumb {
	width: 100%; 
	margin: 0px;
	padding:0px;
	}
	
#thumb li {
	width: 23%;
	padding:15px 12px 0px 0px;
	float: left; 
	list-style: none;
	}
	
#thumb li:last-child {
	padding-right:0px;
	}
	
#thumb a {
	width: 100%; 
	display: block;
	}
	
#thumb li.activeSlide a { }

#thumb a:focus {
	outline: none;
	}
	
#thumb img { 
	border: none; 
	display: block;
	height: 100px;
	}

.prof-details {
	width:48%; 
	float:right;
	}
	
.prof-details h1, .prof-details h3 {
	line-height: normal;
	}
	
.prof-details h1 {
	color:#039;
	}

footer {
	line-height:30px; 
	padding:5px 0px; 
	border-top:1px solid #ccc; 
	position:absolute; 
	bottom:0; 
	width:100%; 
	left:0; 
	font-size:12px;
	background-color:#ededed; 
	clear:both; 
	}
	
.ambinet {
	width:75px; 
	height:27px; 
	display:inline; 
	float:right; 
	background:url(../images/ambinet-logo.png) left 5px no-repeat;
	}
	
.footer-contents {
	width:903px; 
	margin:0px auto; 
	padding-left:100px; 
	background: url(../images/footerlogo.png) left 5px no-repeat; 
	}


@media only 
screen and (max-width:1024px),
screen and (min-device-width : 920px) and (max-device-width : 1024px) and (orientation : landscape) 
{
	
.topbar {
	background-color:#ededed; 
	height:80px; 
	border-bottom:1px solid #fff;
	}
	
.logoarea {
	width:920px; 
	margin:0px auto;
	height:80px;
	font-size:35px; 
	color:#999;
	}
	
.logoarea a {
	height:80px; 
	width:310px; 
	display:block; 
	float:left; 
	text-indent:-9999px; 
	background:url(../images/logo.png) left 18px no-repeat;
	}
	
.logoarea span {
	float:right; 
	padding-top:25px;
	}
	
.bottom-border {
	background-color:#e4e4e4;
	height:20px;
	}
	
.body-area {
	padding:25px 0px 0px; 
	width:920px; 
	margin:0px auto;
	}



.navx {
	width:920px; 
	margin:0px auto;
	}

.viewall {
	display:inline-block;
	float:left; 
	width:35%;
	z-index:999; 
	position:absolute;
	}
	
.viewall td {
	padding-right:10px;
	}
	
.dashboard-detils {
	float:right;
	display:inline-block;
	width:65%;
	}
	
.dashboard-detils ul {
	display:block; 
	float:right; 
	}
	
.dashboard-detils ul li {
	text-align:right; 
	list-style:none; 
	float:left; 
	display:block; 
	line-height:32px; 
	border-right:1px solid #C60; 
	padding-left:15px;padding-right:15px; 
	color:#555; 
	font-size:17px;
	}
	
.dashboard-detils ul li strong {
	padding-left:10px;
	}
	
.dashboard-detils ul li:last-child {
	border-right:none;
	}
	
.induction-cam {
	width:680px; 
	margin:0px auto; 
	background-color:#f5f5f5; 
	border:1px solid #ccc; 
	padding:25px; 
	margin-bottom:25px;
	}

#slider1 img {
	height:330px; 
	width:100%;
	}
	
#thumb {
	width: 100%; 
	margin: 0px;
	padding:0px;
	}
	
#thumb li {
	width: 23%;
	padding:15px 9px 0px 0px;
	float: left; 
	list-style: none;
	}
	
#thumb li:last-child {
	padding-right:0px;
	}
	
#thumb a {
	width: 100%; 
	display: block; 
	}
	
#thumb li.activeSlide a { }

#thumb a:focus {
	outline: none;
	}
	
#thumb img {
	border: none;
	display: block;
	height: 100px;
	}
	
.prof-details {
	width:48%; 
	float:right;
	}
	
.prof-details h1, .prof-details h3 {
	line-height: normal;
	}
	
.prof-details h1 {
	color:#039;
	}

.ambinet {
	width:75px; 
	height:27px; 
	display:inline; 
	float:right; 
	background:url(../images/ambinet-logo.png) left 5px no-repeat;
	}
	
.footer-contents {
	width:840px; 
	margin:0px auto; 
	padding-left:100px; 
	background: url(../images/footerlogo.png) left 5px no-repeat; 
	}

}
/*--end Standard--*/


/*  Standard State 
----------------------------------------------------------------------------------------------------------------- */

@media only 
screen and (max-width:920px),
screen and (min-device-width : 768px) and (max-device-width : 920px) and (orientation : landscape) {

.topbar {
	background-color:#ededed;  
	border-bottom:1px solid #fff; 
	padding:10px 0px; 
	height:130px;
	}
	
.logoarea {
	width:750px; 
	margin:0px auto;
	height:110px;
	font-size:25px; 
	color:#999;
	}
	
.logoarea a {
	height:80px; 
	width:410px; 
	display:block; 
	text-indent:-9999px; 
	background:url(../images/logo.png) center center no-repeat; 
	margin:0px auto; 
	float:none; 
	border-bottom:1px solid #bbb;
	}
	
.logoarea span {
	padding-top:15px; 
	clear:both; 
	display:block; 
	text-align:center; 
	float:none;
	}
	
.bottom-border {
	background-color:#e4e4e4; 
	height:10px;
	}

.viewall {
	display:inline-block;
	float:none; 
	width:730px;
	z-index:999; 
	position:absolute;
	}
	
.viewall td:first-child {
	width:85%;
	}
	
.viewall td {
	padding-right:10px;
	}
	
.dashboard-detils {
	width:100%; 
	clear:both;
	padding-top:70px;
	}
	
.dashboard-detils ul {
	display:block; 
	float:none; 
	clear:both; 
	}
	
.dashboard-detils ul li {
	list-style:none; 
	float:left; 
	display:block; 
	line-height:32px; 
	border-right:1px solid #C60; 
	padding-left:15px;padding-right:15px; 
	color:#555; 
	font-size:22px;
	}
	
.dashboard-detils ul li strong {
	padding-left:10px;
	}
	
.dashboard-detils ul li:last-child {
	border-right:none; 
	padding-right:0px;
	}

.dashboard-detils ul li:first-child {
	padding-left:none !important;
	}

.body-area {
	padding:25px 0px 15px; 
	width:720px; 
	margin:0px auto;
	}

.navx {
	width:720px; 
	margin:0px auto;
	}

.popup .popup-body {
	width: 350px; 
	margin-left: -190px; 
	max-height:450px; 
	overflow:scroll;
	}

.popup-userinfo {
	display:block; 
	float:left; 
	width:100%;
	}

.inductee-details tr {
	border-bottom:1px solid #ccc;
	}
	
.inductee-details td {
	padding: 10px 15px; 
	color:#333; 
	font-size:15px;
	}

.popup-ind-gallery {
	float:left; 
	display:block; 
	background-color:#x00; 
	clear:both; 
	padding-top:20px;
	}
	
.popup-ind-gallery table {
	width:50%;
	}
	
.popup-ind-gallery td {
	padding:10px 10px 0 0;
	}
	
.popup-ind-gallery td img {
	border:1px solid #ccc; 
	width:150px; 
	height:150px;
	}

.induction-cam {
	width:660px; 
	margin:0px auto; 
	background-color:#f5f5f5; 
	border:1px solid #ccc; 
	padding:25px; 
	margin-bottom:25px;
	}

table.take-picture{}

table.take-picture td { 
	text-align:center; 
	padding:20px 0px; 
	display:block;
	}
	
table.take-picture td:first-child {
	background-color:#039; 
	width:100%; 
	background:url(../images/cam.png) center 20px no-repeat; 
	padding-top:60px;
	}
	
table.take-picture td:last-child {
	background-color:#c00; 
	width:100%;
	background:url(../images/user.png) center 35px no-repeat;
	padding-top:75px;
	}
	
.photo {
	width:100%; 
	background:#fff; 
	border:#ccc 1px solid; 
	display:block; 
	height:250px;
	}
	
.buttondiv {
	vertical-align:middle; 
	font-size:14px; 
	padding:0 10px!important;
	}
	
a.takephoto {
	height:80px; 
	width:80px; 
	background:url(../images/takephoto.png) left top no-repeat; 
	text-indent:-9999px; 
	display:block; 
	margin: 0px auto; 
	margin-bottom:10px;
	}
	
a.takephoto:active {
	height:80px; 
	width:80px; 
	background:url(../images/takephoto2.png) left top no-repeat;
	}

table.qna td {
	padding:5px 10px 5px 10px;
	vertical-align: middle;
	font-size:15px;
	line-height:130%;
	}

table.qna td:last-child {
	width text-align:right; 
	width:90px; 
	border-left:5px solid #fff;
	}

.yes {
	height:38px;
	width:38px; 
	display:inline-block; 
	float:none; 
	background-color:#fff; 
	color:#000; 
	transition:all 0.08s ease-out; 
	line-height:30px; 
	text-align:center; 
	margin-right:10px; 
	border:none; 
	font-size:14px; 
	border:1px solid #aaa;
	}
	
.yes:active,.yes-selected {
	background-color:#1D631F; 
	color:#fff;
	border:1px solid #1D631F;
	}

.no {
	height:38px;
	width:38px; 
	display:inline-block;
	float:none; 
	background-color:#fff; 
	color:#000; 
	transition:all 0.08s ease-out; 
	line-height:30px; 
	text-align:center;
	border:none; 
	font-size:14px; 
	border:1px solid #aaa;
	}
	
.no:active,.no-selected {
	background-color:#c00; 
	color:#fff;
	border:1px solid #c00;
	}

.reception-security-top {
	padding-top:25px;
	}
	
.reception-security-top span {
	display:inline-block; 
	float:left; 
	padding-right:10px;
	}
	
.reception-security-top span em {
	font-size:28px; 
	font-style:normal; 
	line-height:30px; 
	font-weight:bold;
	}
	
.reception-security-top input[type="text"] {
	font-size:24px; 
	padding:12px 10px 13px;
	width:80px;
	}
	
.ptoday {
	display: inline-block;
	float: right!important;
	font-size:26px;
	line-height:50px;
	}
	
.security {
	padding:25px;
	background-color:#f9f9f9;
	border:1px solid #ddd;
	display:block;
	margin-top:30px; 
	min-height:400px;
	}


#slider1 img {
	height:270px;
	width:100%;
	}
	
#thumb {
	width:100%; 
	margin: 0px;
	padding:0px;
	}
	
#thumb li { 
	width: 23%;
	padding:15px 7px 0px 0px;
	float: left; 
	list-style: none;
	}
	
#thumb li:last-child {
	padding-right:0px;
	}
	
#thumb a { 
	width: 100%; 
	display: block; 
	}
	
#thumb li.activeSlide a { }

#thumb a:focus { 
	outline: none; 
	}
	
#thumb img { 
	border: none; 
	display: block;
	height: 70px;
	}

.prof-details {
	width:48%; 
	float:right;
	}
	
.prof-details h1, .prof-details h3 {
	line-height: normal;
	}
	
.prof-details h1 { 
	color:#039;
	}
	
.prof-details .ph-button { 
	padding:10px; 
	font-size:15px;
	}

.ambinet { 
	width:75px; 
	height:27px; 
	display:inline; 
	float:right; 
	background:url(../images/ambinet-logo.png) left 5px no-repeat;
	}
	
.footer-contents {
	width:630px; 
	margin:0px auto; 
	padding-left:100px; 
	background: url(../images/footerlogo.png) left 5px no-repeat;
	}
	
}
/*--end Standard--*/




/* Tablet State
----------------------------------------------------------------------------------------------------------------- */

@media only
screen and (max-width:767px),
screen and (min-device-width:520px) and (max-device-width:767px) and (orientation: portrait) {

.topbar {
	background-color:#ededed;  
	border-bottom:1px solid #fff; 
	padding:10px 0px; 
	height:130px;
	}
	
.logoarea{ 
	width:470px; 
	margin:0px auto;
	height:130px;
	font-size:25px; 
	color:#999;
	}
	
.logoarea a {
	height:80px; 
	width:380px; 
	display:block; 
	text-indent:-9999px; 
	background:url(../images/logo.png) center center no-repeat; 
	margin:0px auto; 
	float:none; 
	border-bottom:1px solid #bbb;
	}
	
.logoarea span {
	padding-top:15px; 
	clear:both; 
	display:block; 
	text-align:center; 
	float:none;
	}
	
.bottom-border {
	background-color:#e4e4e4; 
	height:10px;
	}
	
.contents {
	padding-bottom:100px;
	}

.body-area { 
	padding:25px 0px 15px; 
	width:450px; 
	margin:0px auto; 
	}
	
.navx{ 
	width:450px; 
	margin:0px auto;
	}

.org-reg-wrap { 
	width:450px; 
	padding:10px 0px;  
	margin:10px auto;
	}
	
.org-reg-wra-block { 
/*	padding:5px 20px 20px; 
	margin:10px 0 20px 0; 
	background-color:#F9F9F9; 
	border:1px solid #DFDFDF; */
	display:block;
	}
	
.org-reg-wra-block p {
	clear:both; 
	display:block; 
	padding:0px;
	}
	
.org-reg-wra-block label {
	line-height:27px; 
/*	width:200px; */
	float:left;
	display:block;
	}

.org-reg-wra-block span{ 
	width:400px; 
	float:left; 
	font-size:11px; 
	color:#666;
	}
	
.org-reg-wra-block-small{
	font-size:11px; 
	color:#666;
	}
	
.org-reg-wra-block span input {
	padding:5px; 
	border:1px solid #999; 
	margin-right:10px;
	}
	
.org-reg-wrap h3 span {
	color:#333; 
	font-size:12px;
	}

.company-name, .today-date {
	line-height:30px;
	font-size:20px; 
	text-align:center; 
	display:block; 
	width:100%;
	} 

.today-date {
	color:#999; 
	float:none; 
	margin-bottom:20px;
	} 

.viewall {
	display: ;
	float:none;
	width:460px;
	z-index:999; 
	position:absolute;
	}
	 
.viewall td:first-child {
	width:85%;
	}
	
.viewall td {
	padding-right:10px;
	}
	
.dashboard-detils{
	width:100%; 
	clear:both;
	padding-top:50px;
	}
	
.dashboard-detils ul {
	display:block; 
	float:none; 
	clear:both; 
	}
	
.dashboard-detils ul li{
	list-style:none; 
	float:left; 
	display:block; 
	line-height:40px; 
	border-right: none; 
	border-bottom:1px solid #ccc; 
	padding:0px; color:#555; 
	font-size:18px; 
	width:100%; 
	text-align:left;
	}
	
.dashboard-detils ul li strong {
	padding-left:10px;
	}
	
.dashboard-detils ul li:first-child {
	padding-left:none !important;
	}
	
.dashboard-detils ul li:last-child {
	border-right:none; 
	padding-right:0px;
	}
	
.dashboard-detils ul li strong {
	display:inline;
	float:right;
	}

.popup .popup-body {
	width: 350px; 
	margin-left: -190px; 
	max-height:450px; 
	overflow:scroll;
	}
	
.popup-userinfo {
	display:block; 
	float:left; 
	width:100%;
	}
	
.inductee-details tr {
	border-bottom:1px solid #ccc;
	}
	
.inductee-details td {
	padding: 10px 15px;
	color:#333;
	font-size:15px;
	}

.popup-ind-gallery {
	float:left; 
	display:block; 
	background-color:#x00; 
	clear:both; 
	padding-top:20px;
	}
	
.popup-ind-gallery table { 
	width:50%;
	}
	
.popup-ind-gallery td {
	padding:10px 10px 0 0;
	}
	
.popup-ind-gallery td img {
	border:1px solid #ccc;
	width:100px;
	height:100px;
	}
	
.induction-cam {
	width:390px;
	margin:0px auto;
	background-color:#f5f5f5; 
	border:1px solid #ccc; 
	padding:25px; 
	margin-bottom:25px;
	}
	
table.take-picture{}

table.take-picture td{
	text-align:center; 
	padding:20px 0px; 
	display:block;
	}
	
table.take-picture td:first-child {
	background-color:#039;
	width:100%; 
	background:url(../images/cam.png) center 20px no-repeat; 
	padding-top:60px;
	}
	
table.take-picture td:last-child {
	background-color:#c00;
	width:100%;
	background:url(../images/user.png) center 35px no-repeat;
	padding-top:75px;
	}
	
.photo {
	width:100%;
	background:#fff; border:#ccc 1px solid;
	display:block; 
	height:200px;
	}
	
.buttondiv {
	vertical-align:middle;
	font-size:14px;
	padding:0 10px!important;
	}
	
a.takephoto {
	height:80px; 
	width:80px; 
	background:url(../images/takephoto.png) left top no-repeat; 
	text-indent:-9999px; 
	display:block; 
	margin: 0px auto; 
	margin-bottom:10px;
	}
	
a.takephoto:active {
	height:80px; 
	width:80px; 
	background:url(../images/takephoto2.png) left top no-repeat;
	}
	
.reception-security-top {
	padding-top:25px; 
	width:100%; 
	clear:both;
	}
	
.reception-security-top span {
	display:inline-block;
	float:left;
	padding-right:10px;
	}
	
.reception-security-top span em {
	font-size:18px;
	font-style:normal;
	line-height:auto;
	font-weight:bold;
	}
	
.reception-security-top input[type="text"] {
	font-size:18px; 
	padding:5px 10px 6px;
	width:100px;
	}
	
.reception-security-top span .ph-button { 
	padding:10px; 
	font-size:15px;
	}
	
.ptoday {
	display: inline-block;
	float: left!important; 
	font-size:26px;
	line-height:50px;
	}
	
.security {
	padding:25px; 
	background-color:#f9f9f9; 
	border:1px solid #ddd; 
	display:block; 
	margin-top:30px; 
	min-height:400px;
	}
	
table.twobtns {
	width:100%; 
	margin-top:25px;
	}
	
table.twobtns  td {
	width:50%; 
	text-align:center;
	}
	
table.twobtns  td .ph-button {
	padding:10px;
	font-size:15px;
	}
	
.prof{
	width:100%;
	float:none;
	}
	
#slider1 img {
	height:270px; 
	width:100%;
	}
	
#thumb {
	width: 100%; 
	margin: 0px;
	padding:0px;
	}
	
#thumb li {
	width: 23%;
	padding:15px 7px 0px 0px;
	float: left;
	list-style: none;
	}
	
#thumb li:last-child {
	padding-right:0px;
	}
	
#thumb a {
	width: 100%; 
	display: block; 
	}
	
#thumb li.activeSlide a { }

#thumb a:focus {
	outline: none;
	}
	
#thumb img {
	border: none;
	display: block;
	height: 70px;
	}
	
.prof-details {
	width:100%;
	float:none;
	padding-top:25px;
	}
	
.prof-details h1, .prof-details h3{
	line-height: normal;
	}
	
.prof-details h1 {
	color:#039;
	}
	
.prof-details .ph-button {
	padding:10px;
	font-size:15px;
	}

.footer-contents {
	width:410px; 
	margin:0px auto; 
	padding-left:65px; 
	background: url(../images/footerlogo.png) 10px 10px no-repeat; 
	background-size:10%;
	font-size:11px;
	}
	
.ambinet {
	width:75px; 
	height:27px; 
	display:inline; 
	float:right; 
	background:url(../images/ambinet-logo.png) left 5px no-repeat; 
	background-size:80%;
	}

}
/*--end Tablet--*/




/* 4. Mobile State
----------------------------------------------------------------------------------------------------------------- */

@media only 
screen and (max-width : 480px),
screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
.topbar {
	background-color:#ededed;  
	border-bottom:1px solid #fff; 
	padding:10px 0px 10px; 
	height:110px; 
	}
	
.logoarea {
	width:310px;
	margin:0px auto;
	height:130px;
	font-size:20px;
	color:#999;
	}
	
.logoarea a {
	height:60px;
	width:240px;
	display:block;
	text-indent:-9999px;
	background:url(../images/logo.png) center center no-repeat;
	margin:0px auto;
	float:none; border-bottom:1px solid #bbb;
	background-size:100%;
	}
	
.logoarea span {
	padding-top:15px;
	clear:both; 
	display:block; 
	text-align:center; 
	float:none;
	}
	
.bottom-border {
	background-color:#e4e4e4; 
	height:5px;
	}

.body-area {
	padding:25px 0px 15px; 
	width:340px; 
	}
	
.navx {
	width:340px; 
	margin:0px auto;
	}

.ph-button {
	min-width:80px;
	padding: 16px 25px 15px;
	}
	
.org-reg-wrap {
	width:350px; 
	padding:10px 0px;  
	margin:10px auto;
	}
	
.org-reg-wra-block {
	
	margin:10px 0 20px 0; 
	/*background-color:#F9F9F9; 
	border:1px solid #DFDFDF;
		*/padding:0px; 
display:block;
	}
	
.org-reg-wra-block p {
	clear:both; 
	display:block; 
	padding:10px 0px;
	}
	
.org-reg-wra-block label {
	line-height:27px; 
	/*width:200px; */
	float:left;
	display:block;
	}
	
.org-reg-wra-block span {
	width:310px; 
	float:left; 
	font-size:11px; 
	color:#666;
	}
	
.org-reg-wra-block-small {
	font-size:11px; 
	color:#666;
	}
	
.org-reg-wra-block span input {
	padding:5px; 
	border:1px solid #999; 
	margin-right:10px; 
	}
	
.org-reg-wrap h3 span { 
	color:#333; 
	font-size:12px;
	}

.tfoc-login-wrapper { 
	padding-top:20px; 
	width: 330px; 
	margin:0px auto;
	}

.navigationx a {
	list-style:none; 
	float:left; 
	width:97%; 
	text-align:left; 
	border-left:5px solid #222; 
	margin-bottom:2px; 
	border-right:none; 
	padding-left:15px; 
	background-color:#f5f5f5; 
	color:#222; 
	background-image:none;
	}
	
.navigationx a:last-child {
	border-left:5px solid #222; 
	border-right:none; 
	}
	
.navigationx a span { 
	display:inline; 
	text-align: left; 
	line-height:40px; 
	padding-right:15px;
	}
	
.navigationx .selected {
	background-color:#444; 
	color:#f7862a;
	}
	
.navigationx a:hover, .navigationx a:active {
	background-color:#444;
	color:#f7862a;
	}
	
.company-name, .today-date {
	line-height:30px;
	font-size:20px; 
	text-align:center; 
	display:block; 
	width:100%;
	}
	 
.today-date { 
	color:#999; 
	float:none; 
	margin-bottom:20px;
	} 
	
.dashboard-detils ul li {
	list-style:none; 
	float:left; 
	display:block; 
	line-height:40px; 
	border-right: none; 
	border-bottom:1px solid #ccc; 
	padding:0px; color:#555; 
	font-size:17px; 
	width:100%; 
	text-align:left; 
	}
	
.dashboard-detils ul li strong {
	display:inline; 
	float:right;
	} 

.viewall {
	display: ;
	float:none; 
	width:350px;
	z-index:999; 
	position:absolute;
	}

.popup .popup-body {
	width: 230px; 
	margin-left: -140px; 
	max-height:270px; 
	overflow:scroll; 
	min-height:270px;
	}
	
.popup-userinfo { 
	display:block; 
	float:left; 
	width:100%; 
	}
	
.inductee-details tr {
	border-bottom:1px solid #ccc;
	}
	
.inductee-details td:first-child {
	font-weight:bold;
	}
	
.inductee-details td { 
	padding: 10px 15px 10px 0; 
	color:#333; 
	font-size:15px;
	display:block; 
	float:left; 
	width:100%; 
	font-size:12px;
	}

.popup-ind-gallery {float:left; 
	display:block; 
	background-color:#x00; 
	clear:both; 
	padding-top:20px;
	}
	
.popup-ind-gallery table { 
	width:50%;
	}
	
.popup-ind-gallery td { 
	padding:10px 10px 0 0;
	}
	
.popup-ind-gallery td img {
	border:1px solid #ccc; 
	width:100px; 
	height:100px;
	}
	
.induction-cam {
	width:280px; 
	margin:0px auto; 
	background-color:#f5f5f5; 
	border:1px solid #ccc; 
	padding:25px; 
	margin-bottom:25px;
	}

.prof {
	width:100%; 
	float:none;
	}
	
#slider1 img {
	height:270px; 
	width:100%;
	}
	
#thumb {
	width: 100%; 
	margin: 0px;
	padding:0px;
	}
	
#thumb li {
	width: 23%;
	padding:15px 7px 0px 0px;
	float: left; 
	list-style: none;
	}
	
#thumb li:last-child {
	padding-right:0px;
	}
	
#thumb a {
	width: 100%; 
	display: block; 
	}
	
#thumb li.activeSlide a { }

#thumb a:focus { 
	outline: none;
	}
	
#thumb img {
	border: none; 
	display: block;
	height: 70px;
	}

.prof-details {
	width:100%; 
	float:none; 
	padding-top:45px;
	}
	
.prof-details h1, .prof-details h3 {
	line-height: normal;
	}

.prof-details h1 { 
	color:#039;
	}
	
.prof-details .ph-button {
	padding:10px; 
	font-size:15px;
	}

footer {
	line-height:30px; 
	padding:5px 0px; 
	border-top:1px solid #ccc; 
	position:absolute; 
	bottom:0; 
	width:100%; 
	left:0; 
	font-size:11px;
	background-color:#ededed;
	}
	
.footer-contents {
	width:345px; 
	margin:0px auto; 
	padding-left:0px; 
	background: none; 
	font-size:11px; 
	padding-top:0px;  
	}

.ambinet {
	width:60px; 
	height:27px; 
	display:inline; 
	float:right; 
	background:url(../images/ambinet-logo.png) left 5px no-repeat; 
	background-size:80%;
	}
}
/*--end Mobile--*/



.error{ border:1px solid #c00!important; background-color:#FFECEC}
.loginbox table tr td{ vertical-align:middle!important;}


.sepline{ width:100%; margin:25px auto 10px; display:block; height:1px; background-color: #f26329;}
.imgw18{ height:18px; width:18px; }

#howto p{ font-size:18px;}
.bxslider{ background-color:#eee;}
.steps{ display:inline; float:right;}

.upload{padding:15px 15px 15px; border:1px solid #eee; background-color:#f5f5f5; margin-bottom:15px;}
.title { width:250px; font-size:24px;}
.uploaded{ background-color:#eef6ee; border:1px solid #c4fcc4;padding:15px 15px 15px;margin-bottom:15px; }